<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="client work">
        <wb-resource deploy-path="/" source-path="/delete"/>
    </wb-module>
</project-modules>
